[submodule "external/qmk_firmware"]
	path = external/qmk_firmware
	url = git@github.com:qmk/qmk_firmware.git
    ignore = dirty
[submodule "external/vial-qmk"]
	path = external/vial-qmk
	url = https://github.com/vial-kb/vial-qmk
    ignore = dirty
